@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');
@import './const';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  font-family: $main-font-family;
  font-size: $main-font-size;
  color: $main-font-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $main-font-color;
  &:hover {
    opacity: 0.5;
  }
}

button {
  font-family: $main-font-family;
  cursor: pointer;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  &-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }
}
