//font family
$main-font-family: 'Montserrat', Helvetica, Arial, sans-serif;

// font size
$main-font-size: 16px;
$tablet-font-size: 14px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 18px;

//font color
$main-font-color: #484848;
$secondary-font-color: #9a9a9a;

//decoration attribute
$main-decor-color: #eff0f2;
$box-shadow: 0px 0px 10px #e5e5e5;
$transition: all 0.3s;