// Font family
$main-font-family: 'Montserrat', helvetica, arial, sans-serif;

// Font size
$main-font-size: 16px;
$tablet-font-size: 14px;
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 18px;

// Colors
$main-font-color: #484848;
$secondary-font-color: #9a9a9a;
$main-decor-color: #eff0f2;

// Shadow
$box-shadow: 0 0 10px #e5e5e5;

// Transition
$transition: all 0.3s;