$main-font-family: 'Montserrat', Helvetica, Arial, sans-serif;
$main-font-size: 16px;
$main-font-color: rgba(72, 72, 72, 1);
$secondary-font-color: rgba(154, 154, 154, 1);
$placeholder-color: rgb(194, 198, 204);
$main-decor-color: rgba(239, 240, 242, 1);
$card-bg-color: rgba(224, 226, 230, 1);
$input-bg-color: rgba(255, 255, 255, 1);
$news-letter-bg-color: rgba(232, 234, 236, 1);
$button-font-color: rgb(255, 255, 255);
$h2-font-size: 36px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 18px;
