@import '../const';

@mixin button-hover($animation: false) {
  transition: 0.1s;
  &:hover {
    box-shadow: inset 0 0 5px 0px $input-bg-color;
    @if ($animation) {
      animation: 0.1s forwards flashIcon;
    }
  }
}

@keyframes flashIcon {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.95;
  }
}
