@import '../const';

@mixin placeholder-style($color: $placeholder-color, $weight: 600) {
  &::placeholder {
    font-family: $main-font-family;
    font-size: 14px;
    @if ($weight) {
      font-weight: $weight;
    }
    color: $color;
  }
}
