@import '../const';
@import './placeholder';

$border-color: rgb(0, 0, 0);

@mixin reserve-input($width, $height) {
  @include placeholder-style($color: $form-placeholder-color, $weight: 500);
  min-width: $width;
  height: $height;
  padding: 15px;
  border-bottom: 1px solid $border-color;
}
