@import '../const';

$title-width: 420px;
$line-width: 140px;
$line-height: 6px;

@mixin section-title-style {
  position: relative;
  font-size: $h2-font-size;
  max-width: $title-width;
  line-height: 48px;
  letter-spacing: -0.4px;
  &::after {
    content: '';
    position: absolute;
    bottom: -37px;
    left: 1px;
    width: $line-width;
    height: $line-height;
    background-color: $main-font-color;
    border-radius: 3px;
  }
}
